{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <h3>Successfully Parsed DNA</h3>
    <div class="row">
        {% if showDebug %}
        <div class="col-xs-12">
            <h4>Debug Information</h4>
            <p><strong></strong></p>
            <p><strong>Iterations: </strong>{{ info.iterations }}</p>
            <p><strong>Failed mutations: </strong>{{ info.failedmutations }}</p>
            <p><strong>Mutations induced: </strong>{{ info.mutations }}</p>
            <p><strong>Restriction sites checked: </strong>{{ info.checked }}</p>
            <p><strong>Restriction sites found: </strong>{{ info.found }}</p>
            <p><strong>Time taken: </strong>{{ info.timetaken }}</p>
            <pre>
{% for site in sites %}
{{ site.getName() }} ({{ site.getNucleotides() }}) Checked
{% endfor %}
            </pre>
        </div>
        {% endif %}

        <div class="col-xs-12">
            <h4>Sequence Interpretation <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="This is how RSR parsed your input, removing invalid characters."></span></h4>
            <div class="well well-sm rsr-break-word">{{ inputdna }}</div>
        </div>

        <div class="col-xs-12">
            <h4>Raw Data <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="You can copy and paste this data directly. It contains no line breaks of formatting."></span></h4>
            <textarea class="dna-text-area" rows="5">{{ dnaresult.raw }}</textarea>
        </div>

        <div class="col-xs-12">
            <h4>Formatted Data <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Pretty output to highlight the changes RSR made to your DNA."></span></h4>
            <p>Silent muations are <span class="bg-primary">highlighted</span>.</p>
            <div class="well well-sm rsr-break-word" style="font-family:monospace;">{{ dnaresult.formatted | raw }}</div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}
