{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <h3>Restriction Site Remover</h3>
    <p>
    Use this tool to remove restriction sites from a DNA sequence.
    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Enter your DNA sequence in the text area. RSR will ignore any characters that do not belong in a DNA sequence."></span>
    </p>

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <form action="/" method="post" id="dnaform">
                <textarea class="dna-text-area" rows="8" cols="60" name="dnasequence" placeholder="Input DNA sequence...">{{ userinput.seq }}</textarea>
            </form>
            <div class="checkbox checkbox-info">
                <input id="checkcomplements" name="checkcomplements" form="dnaform" type="checkbox" checked>
                <label for="checkcomplements">Check complements</label>
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="When ticked, complements for all your targeted sequences are also checked. e.g. ATAGCC -> TATCGG"></span>
            </div>
            <button type="submit" class="btn btn-default" form="dnaform">Submit</button>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="form-group form-group-multiple-selects">
                <div class="input-group input-group-multiple-select col-xs-12">
                    <select class="form-control" name="sites[]" form="dnaform">
                        <option selected disabled hidden>Select one</option>
                        <option value="all">All</option>
                        {% for rsite in rsdata %}
                            <option value="{{ rsite.getNucleotides() }}">{{ rsite.getName() }} ({{ rsite.getNucleotides() }})</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-addon input-group-addon-remove">
    				<span class="glyphicon glyphicon-remove"></span>
    			</span>
                </div>
            </div>
            <textarea class="dna-text-area" form="dnaform" name="customtargets" rows="4" placeholder="Target custom sequences...">{{ userinput.customtargets }}</textarea>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    $(function(){
        var values = new Array();
        $(document).on('change', '.form-group-multiple-selects .input-group-multiple-select:last-child select', function(){

            var selectsLength = $(this).parent().parent().find('.input-group-multiple-select select').length;
            var optionsLength = ($(this).find('option').length)-1;

            if(selectsLength < optionsLength){
                var sInputGroupHtml = $(this).parent().html();
                var sInputGroupClasses = $(this).parent().attr('class');
                $(this).parent().parent().append('<div class="'+sInputGroupClasses+'">'+sInputGroupHtml+'</div>');
            }
            updateValues($(this).parent().parent());
        });

        $(document).on('change', '.form-group-multiple-selects .input-group-multiple-select:not(:last-child) select', function(){
            updateValues($(this).parent().parent());
        });

        $(document).on('click', '.input-group-addon-remove', function(){
            var oSelectContainer = $(this).parent().parent()
            $(this).parent().remove();
            updateValues(oSelectContainer);
        });

        function updateValues(oSelectContainer){
            values = new Array();
            $(oSelectContainer).find('.input-group-multiple-select select').each(function(){
                var value = $(this).val();
                if(value != 0 && value != ""){
                    values.push(value);
                }
            });

            $(oSelectContainer).find('.input-group-multiple-select select').find('option').each(function(){
                var optionValue = $(this).val();
                var selectValue = $(this).parent().val();
                if(in_array(optionValue,values)!= -1 && selectValue != optionValue)
                {
                    $(this).attr('disabled', 'disabled');
                }
                else
                {
                    $(this).removeAttr('disabled');
                }
            });

        }

        function in_array(needle, haystack){
            var found = 0;
            for (var i=0, length=haystack.length;i<length;i++) {
                if (haystack[i] == needle) return i;
                found++;
            }
            return -1;
        }

        // Update all options for first use
        $('.form-group-multiple-selects').each(function(i, e){
            updateValues(e);
        });
    });
</script>

{% endblock %}
